<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h3>Back End</h3>
            <i class="bi bi-file-code-fill"></i>
            <p>
                Eh trabajado en el desarrollo de backend para varios proyectos, Tanto para mi universidad,
                el intituto donde realicé mi servicio profesional y de igual manera algunos proyectos personales.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                <ul>
                    <li>.NET</li>
                    <li>C#</li>
                    <li>PHP</li>
                    <li>SQL Server</li>
                    <li>MySQL</li>
                </ul>
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>ASP. NET con MVC</li>
                <li>Windows Forms</li>
                <li>PHP</li>
                <li>WPF</li>
                <li>Dapper</li>
                <li>Entity Framework</li>
                <li>MySql Workbench</li>

            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <h3>Front End</h3>
            <i class="bi bi-file-image"></i>
            <p>
                Para los distintos proyectos en los que eh estado involucrado, eh trabajado con Front End
                de igual manera, desde la estructura, diseño, dinamismo y eficiencia.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>Highcharts</li>
                </ul>
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Maquetacion con HTML</li>
                <li>Diseño con CSS</li>
                <li>Funcionalidadx con JavaScript</li>
                <li>Funciones de Bootstrap</li>
                <li>Páginas dinámicas</li>
            </ul>
        </div>
    </div>
</div>
