<div class="text-center">
    <h1 class="display-4">Soy Uriel Arellano</h1>
    <h2>Soy un desarrollador BackEnd, especializado en tecnologias .NET</h2>
   <img id="foto" src="~/images/Io2.jpg" alt="Foto de Uriel" />
</div>

<div class="text-center">
</div>


<div class=" row justify-content-center text-center bg-primary">
    <div class=" col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida  a mi portafolio</h1>
        <p>
            Durante mi trayectoria tanto académica como personal, he adquirido experiencia significativa 
            en el desarrollo de proyectos de escritorio y aplicaciones web, utilizando tecnologías avanzadas como 
            .NET y el lenguaje de programación C#, entre otros. He trabajado de manera efectiva en la gestión de 
            bases de datos, tanto en entornos MySql como en SQL Server.
            A lo largo de mi carrera he utilizado las tecnologias de .NET para construir aplicaciones escalables y robustas, aprovechando las mejores prácticas de 
            desarrollo y cumpliendo con los requisitos funcionales y técnicos establecidos.
            Estoy entusiasmado por contribuir a proyectos desafiantes que requieran mis habilidades en el desarrollo backend 
            utilizando tecnologías .NET, así como mi experiencia en la gestión de bases de datos. Estoy seguro de que mi dedicación
            y experiencia serán un activo valioso para cualquier equipo de desarrollo.
        </p>
    </div>
</div>
