@model IEnumerable<ProyectoDTO>

@if (Model is not null)
{
    <div class="MisTrabajos text-center" style="padding-top: 6rem;">

        <h2>PROYECTOS QUE HE DESARROLLADO</h2>
        <p>Aqui podras observar algunos de mis proyectos que he desarrollado a lo largo de mi carrera.</p>
    </div>

    <partial name="_ListadoProyectos" model="Model" />
     
}